@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* vanilla shadcn/ui vars */
    --accent-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --background: 240 10% 3.9%;
    --border: 240 3.7% 15.9%;
    --card-foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --input: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --muted: 240 3.7% 15.9%;
    --popover-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --primary-foreground: 240 5.9% 10%;
    --primary: 0 0% 98%;
    --radius: 0.75rem;
    --ring: 240 4.9% 83.9%;
    --secondary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;

    /* extra vars */
    --destructive-foreground: 14 94% 66%;
    --destructive: 14 94% 6%;
    --info-foreground: 220 47% 71%;
    --info: 220 47% 11%;
    --success-foreground: 159 47% 51%;
    --success: 159 47% 11%;
    --warning-foreground: 55 47% 51%;
    --warning: 55 47% 11%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
}

@layer utilities {
  .mask1 {
    -webkit-mask-image: linear-gradient(
      to top,
      transparent 25%,
      theme('colors.background') 75%
    );
    mask-image: linear-gradient(to top, transparent 25%, theme('colors.background') 75%);
  }

  .certification_text-shadow {
    text-shadow: 1px 1px theme('colors.background');
  }
}
